@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

* {
  font-family: "Titillium Web", sans-serif;
}

.sidebar {
  background-color: lightblue;
  height: 100vh;
}

.analysis-logo {
  margin-top: 5rem;
  width: 80%;
  height: 40%;
}
