.mainbar-user-management {
  position: relative;
  margin-left: 18%;
  padding: 2%;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
}

.search-users {
  margin-left: 25rem;
  width: 13rem;
  height: 2.3rem;
}
